ul {
 list-style: none;
}

ul,
li {
 margin: 0;
}

a {
 text-decoration: underline;
 transition: $transition_slower_e;

 &:hover,
 &:active {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
 }
}
