
@font-face {
  font-family: 'Open Sans Bold';
  src: url('OpenSans-Bold.woff2') format('woff2'),
       url('OpenSans-Bold.woff') format('woff'),
       url('OpenSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans BoldItalic';
  src: url('OpenSans-BoldItalic.woff2') format('woff2'),
       url('OpenSans-BoldItalic.woff') format('woff'),
       url('OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url('OpenSans-ExtraBold.woff2') format('woff2'),
       url('OpenSans-ExtraBold.woff') format('woff'),
       url('OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans ExtraBoldItalic';
  src: url('OpenSans-ExtraBoldItalic.woff2') format('woff2'),
       url('OpenSans-ExtraBoldItalic.woff') format('woff'),
       url('OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('OpenSans-Italic.woff2') format('woff2'),
       url('OpenSans-Italic.woff') format('woff'),
       url('OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('OpenSans-Light.woff2') format('woff2'),
       url('OpenSans-Light.woff') format('woff'),
       url('OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans LightItalic';
  src: url('OpenSans-LightItalic.woff2') format('woff2'),
       url('OpenSans-LightItalic.woff') format('woff'),
       url('OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Regular.woff2') format('woff2'),
       url('OpenSans-Regular.woff') format('woff'),
       url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('OpenSans-Semibold.woff2') format('woff2'),
       url('OpenSans-Semibold.woff') format('woff'),
       url('OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans SemiboldItalic';
  src: url('OpenSans-SemiboldItalic.woff2') format('woff2'),
       url('OpenSans-SemiboldItalic.woff') format('woff'),
       url('OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
