@import "../../../assets/scss/utilities/variables";

hp-icon {
  display: flex;
  align-items: center;

  & > svg {
    width: 100%;
    align-self: center;
    transition: $transition_slower_eo;
  }

  & > svg:hover {
    opacity: 0.72;
  }
}
