@mixin media__max_width($width) {
 @media (max-width: $width) {
  @content;
 }
}

@mixin media__min_width($width) {
 @media (min-width: $width + 0.0625em) {
  @content;
 }
}

@mixin media__min_height($width) {
 @media (min-width: $width + 0.0625em) {
  @content;
 }
}

@mixin media__max_height($max) {
 @media (max-height: $max) {
  @content;
 }
}

@mixin media__between($min, $max) {
 @media (min-width: $min + 0.0625em) and (max-width: $max) {
  @content;
 }
}
