$transition_normal_e: all .16s ease;
$transition_normal_ei: all .16s ease-in;
$transition_normal_eio: all .16s ease-in-out;
$transition_normal_eo: all .16s ease-out;

$transition_slower_e: all .32s ease;
$transition_slower_ei: all .32s ease-in;
$transition_slower_eio: all .32s ease-in-out;
$transition_slower_eo: all .32s ease-out;

$transition_slowest_e: all .64s ease;
$transition_slowest_ei: all .64s ease-in;
$transition_slowest_eio: all .64s ease-in-out;
$transition_slowest_eo: all .64s ease-out;

$breakpoint: (
 xl: 75em,     // 1200px
 lg: 65.625em,  // 1050px
 md: 56.25em,  // 900px
 sm_md: 46.875em, // 750px
 sm: 37.5em,   // 600px
 xs: 28.125em,  // 450px
 xxs: 25em // 400px
);

$padded_normal: 3.5em; // 56px
$padded_narrow: 1.5em; // 24px
$padded_wide: 6em; // 72px
