
@font-face {
  font-family: 'Roboto Slab Bold';
  src: url('RobotoSlab-Bold.woff2') format('woff2'),
       url('RobotoSlab-Bold.woff') format('woff'),
       url('RobotoSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab Light';
  src: url('RobotoSlab-Light.woff2') format('woff2'),
       url('RobotoSlab-Light.woff') format('woff'),
       url('RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('RobotoSlab-Regular.woff2') format('woff2'),
       url('RobotoSlab-Regular.woff') format('woff'),
       url('RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab Thin';
  src: url('RobotoSlab-Thin.woff2') format('woff2'),
       url('RobotoSlab-Thin.woff') format('woff'),
       url('RobotoSlab-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
