@import "../../../assets/scss/utilities/mixins";

.Container {
  display: flex;

  // PADDING
  &.padded {
    padding: $padded_normal;
  }

  &.padded--narrow {
    padding: $padded_narrow;
  }

  &.padded--wide {
    padding: $padded_wide;
  }

  &.padded,
  &.padded--narrow,
  &.padded--wide {
    @include media__max_width(map-get($breakpoint, md)) {
      padding: $padded_narrow;
    }

    @include media__max_width(map-get($breakpoint, sm)) {
      padding: 0;
    }
  }
  // END PADDING

  // GUTTERS
  &.gutter-top {
    padding-top: $padded_normal;

    &--narrow {
      padding-top: $padded_narrow;
    }

    &--wide {
      padding-top: $padded_wide;
    }
  }

  &.gutter-bottom {
    padding-bottom: $padded_normal;

    &--narrow {
      padding-bottom: $padded_narrow;
    }

    &--wide {
      padding-bottom: $padded_wide;
    }
  }

  &.gutter-left {
    padding-left: $padded_normal;

    &--narrow {
      padding-left: $padded_narrow;
    }

    &--wide {
      padding-left: $padded_wide;
    }
  }

  &.gutter-right {
    padding-right: $padded_normal;

    &--narrow {
      padding-right: $padded_narrow;
    }

    &--wide {
      padding-right: $padded_wide;
    }
  }
  // END GUTTERS

  // CENTERED
  &.centered {
    &--main {
      justify-content: center;
    }

    &--cross {
      align-items: center;
    }

    &--xy {
      justify-content: center;
      align-items: center;
    }
  }
  // END CENTERED

  // ALIGN
  &.align-main {
    &--start {
      justify-content: flex-start;
    }

    &--end {
      justify-content: flex-end;
    }
  }

  &.align-cross {
    &--start {
      align-items: flex-start;
    }

    &--end {
      align-items: flex-end;
    }
  }
  // END ALIGN

  // FULLHEIGHT
  &.fullheight {
    &--elastic {
      min-height: 100vh;
    }

    &--static {
      height: 100vh;
    }
  }
  // END FULLHEIGHT

} // END .Container
