@import "../../../assets/scss/utilities/variables";
@import "../../../assets/scss/utilities/mixins";

.FlexWrapper {
  display: flex;
  flex-wrap: wrap;

  // PARTITION
  &.width {
    &--5 {
      width: 100%;
    }

    &--4 {
      width: (4/5) * 100%;
    }

    &--3 {
      width: (3/5) * 100%;
    }

    &--2 {
      width: (2/5) * 100%;
    }

    &--1 {
      width: (1/5) * 100%;
    }
  } // END &.flex

  @include media__max_width(map-get($breakpoint, lg)) {
    &.width--4,
    &.width--3,
    &.width--2,
    &.width--1 {
      width: (1/3) * 100%;
    }
  }

  @include media__max_width(map-get($breakpoint, md)) {
    &.width--4,
    &.width--3,
    &.width--2,
    &.width--1 {
      width: 50%;
    }
  }

  @include media__max_width(map-get($breakpoint, sm)) {
    &.width--4,
    &.width--3,
    &.width--2,
    &.width--1 {
      width: 100%;
    }
  }
  // END PARTITION

} // END FlexWrapper
