.Layout {
  display: flex;
  width: 100%;

  &.direction {
    &--vertical {
      flex-direction: column;
    }

    &--horizontal {
      flex-direction: row;
    }
  } // END &.direction
} // END .Layout
