* { border: 1px solid grey; }

@import "../../../assets/scss/utilities/variables";
@import "../../../assets/scss/utilities/mixins";

.JoeDCards {
  width: 20em; // 320px
  height: 28em + .5em; // 464px
  padding: .5em;

  @include media__max_width(map-get($breakpoint, lg)) {
    width: 20em * 3;
    height: (28em + .5em) * 1.75;
  }

  @include media__max_width(map-get($breakpoint, md)) {
    width: 20em * 2;
    height: (28em + .5em) * 2;
  }

  @include media__max_width(map-get($breakpoint, sm)) {
    width: 20em * 4;
  }

  .inner-wrap {
    text-align: center;
    cursor: pointer;
  }

  header {
    height: 13.5em; // 216px
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    background: purple;

    @include media__max_width(map-get($breakpoint, lg)) {
      height: 13.5em * 1.75;
    }

    @include media__max_width(map-get($breakpoint, md)) {
      height: 13.5em * 2;
    }
  }

  hp-body {
    height: 28em - 13.5em - 1em;
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    background: teal;

    @include media__max_width(map-get($breakpoint, lg)) {
      height: (28em - 13.5em - 1em) * 1.75;
    }

    @include media__max_width(map-get($breakpoint, md)) {
      height: (28em - 13.5em - 1em) * 2.0625;
    }
  }

  header,
  hp-body {
    padding-top: 1em;
  }
}
